.tabs-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 21px 0 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e9ecef;
  .tabs-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    .tabs-btn {
      padding: 8px 15px;
      font-size: 12px;
    }
  }
}
