h1,
.heading1 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
  margin: 0;
  color: $black;
  @media #{$vp-desktop} {
    font-size: 20px;
  }
  @media #{$vp-tablet-landscape} {
    font-size: 18px;
  }
  &.bold {
    font-weight: 700;
  }
}
h2,
.heading2 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  margin: 0;
  color: $black;
  @media #{$vp-desktop} {
    font-size: 16px;
  }
  @media #{$vp-tablet-landscape} {
    font-size: 14px;
  }
}
h3,
.heading3 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: $font-size-h3;
  font-weight: $font-weight-bold;
  margin: 0;
  color: $black;
  @media #{$vp-desktop} {
    font-size: 14px;
  }
  @media #{$vp-tablet-landscape} {
    font-size: 12px;
  }
}
h4,
.heading4 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: $font-size-h4;
  font-weight: $font-weight-medium;
  margin: 0;
  color: $black;
  @media #{$vp-desktop} {
    font-size: 12px;
  }
}
p,
.para-lg {
  font-size: $font-size-para-lg;
  font-weight: $font-weight-medium;
  margin: 0;
  @media #{$vp-desktop} {
    font-size: 12px;
  }
}
.para-sm {
  font-size: $font-size-para-sm;
  font-weight: $font-weight-medium;
  margin: 0;
  @media #{$vp-desktop} {
    font-size: 10px;
  }
}
body {
  margin: 0;
  background-color: #f4f4f4;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1443px;
  margin: 0 auto;
  padding: 0 49px 0 50px;
  @media #{$vp-desktop} {
    max-width: 1280px;
    padding: 0 40px;
  }
  @media #{$vp-tablet-landscape} {
    max-width: 1024px;
    padding: 0 30px;
  }
}
// Base Button Styles
.btn {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
  white-space: nowrap;
  // font-family: $font-primary;
  font-size: $font-size-btn;
  font-weight: $font-weight-medium;
  @media #{$vp-desktop} {
    font-size: 14px;
  }
  @media #{$vp-tablet-landscape} {
    font-size: 12px;
  }
}
// Primary Button
.btn-primary {
  background-color: $darkBlue;
  color: $white;
}
// Outline Button
.btn-outline {
  background: transparent;
  border: 1px solid $grey;
  color: $grey;
}
// Small and Large Variants
.btn-sm {
  padding: 10px 30px;
  font-size: 12px;
}
.btn-lg {
  padding: 12px 24px;
  font-size: 18px;
}
