.navbar {
  width: 100%;
  background: #fff;
  padding: 16px 0 14px;
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Left Section: Logo & Navigation Links */
    .navbar-left {
      display: flex;
      align-items: center;
      gap: 38px;
      .navbar-logo {
        width: 40px;
        height: 40px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .navbar-links {
        display: flex;
        gap: 25px;
        li {
          a {
            color: $grey;
            font-weight: 500;
            font-size: 16px;
          }
          &:first-child a {
            color: $darkBlue;
            font-weight: 600;
          }
        }
      }
    }
    /* Right Section: Search & Profile */
    .navbar-right {
      display: flex;
      align-items: center;
      .navbar-search {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #f6f9ff;
        border-radius: 8px;
        padding: 10.5px 20px;
        width: 221px;
        margin-right: 15px;
        img {
          margin-right: 20px;
          width: 15px;
          height: 15px;
          object-fit: contain;
        }
        input {
          border: none;
          outline: none;
          font-size: 14px;
          background: transparent;
          width: 100%;
        }
      }
      .navbar-profile {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: gray;
        margin-left: 13px;
      }
    }
  }
}
