.dashboard {
  display: flex;
  flex-direction: column;
  .main-content {
    display: flex;
    gap: 24px;
    margin-top: 25px;
    .content {
      margin-top: 14px;
      width: 100%;
      max-width: 72.53%;
      flex: 0 0 72.53%;
      .heading1 {
        margin-bottom: 5px;
        span {
          color: $darkBlue;
        }
      }
      .para-lg {
        color: $lightGrey;
      }
    }
  }
}
